<div class="chat-container" [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">

  <!-- عنوان الشات -->
  <h2 class="chat-title">{{ 'CHAT.TITLE' | translate }}</h2>

  <!-- Messages Box -->
  <div #chatBox class="chat-box">
    <div *ngFor="let msg of messages" class="message-wrapper" [ngClass]="{
           'system-msg': msg.sender === 'system',
           'message-right': msg.senderName === myName && msg.sender === 'user',
           'message-left': msg.senderName !== myName && msg.sender === 'user'
         }">

      <!-- System messages -->
      <ng-container *ngIf="msg.sender === 'system'">
        <div class="system-text">{{ msg.key | translate }}</div>
      </ng-container>

      <!-- User messages -->
      <ng-container *ngIf="msg.sender === 'user'">
        <div class="message-content">
          <span class="sender-name">{{ msg.senderName === myName ? ('CHAT.YOU' | translate) : msg.senderName }}</span>
          <span class="bubble-text">{{ msg.text }}</span>
          <small class="time-text" style="direction: ltr;">{{ msg.time }}</small>
        </div>
      </ng-container>
    </div>

    <!-- Typing Indicator -->
    <div *ngIf="isTyping" class="typing-indicator">
      {{ 'CHAT.TYPING' | translate }}
    </div>
  </div>

  <!-- Input & Buttons -->
  <div class="input-wrapper">
    <div class="input-inner" [ngClass]="isRtl ? 'rtl' : 'ltr'">
      <input type="text" class="chat-input" [(ngModel)]="message" (keyup.enter)="sendMessage()" (input)="onTyping()"
        [disabled]="!connected" [placeholder]="'CHAT.PLACEHOLDER' | translate" />

      <button class="emoji-btn" type="button" (click)="toggleEmoji()">😊</button>
      <button class="send-btn" (click)="sendMessage()" [disabled]="!connected || !message.trim()">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>

    <emoji-picker *ngIf="showEmoji" (emoji-click)="onEmojiSelect($event)" [ngStyle]="{
    'bottom.px': 120,
    'left.px': isRtl ? null : 3,
    'right.px': isRtl ? 0 : null
  }" class="emoji-picker">
    </emoji-picker>

    <!-- Action buttons -->
    <div class="action-buttons">
      <button class="next-btn" [class.confirm]="confirmNext" (click)="onNextClick()">
        {{ confirmNext ? ('CHAT.CONF' | translate) : ('CHAT.NEXT' | translate) }}
      </button>
      <button class="exit-btn" (click)="exitChat()">{{ 'CHAT.STOP' | translate }}</button>
    </div>
  </div>


  <!-- Waiting State -->
  <!-- <div *ngIf="waiting && !connected" class="waiting-text">
    {{ 'CHAT.WAITING' | translate }}
  </div> -->

</div>
