/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

body.swal2-shown {
  overflow-y: auto !important;
  padding-right: 0 !important;
}

body[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

/* ================= SweetAlert2 - Light Mode ================= */
.swal2-popup {
  background-color: #ffffff !important;
  color: #212529 !important;
}

.swal2-title,
.swal2-html-container {
  color: #212529 !important;
}

.swal2-confirm {
  background-color: #0b93f6 !important;
  color: #ffffff !important;
}

/* ================= SweetAlert2 - Dark Mode ================= */
body.dark-mode .swal2-popup {
  background-color: #1f1f1f !important;
  color: #ffffff !important;
}

body.dark-mode .swal2-title,
body.dark-mode .swal2-html-container {
  color: #ffffff !important;
}

body.dark-mode .swal2-confirm {
  background-color: #0b93f6 !important;
  color: #ffffff !important;
}

body.dark-mode .swal2-cancel {
  background-color: #444 !important;
  color: #ffffff !important;
}

/* wrapper scrollbar */
.scroll-wrapper {
  height: 100vh;
  overflow-y: auto;
  direction: ltr;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #0b93f6 #e0e0e0;
}

/* Chrome, Edge, Safari */
.scroll-wrapper::-webkit-scrollbar {
  width: 8px;
}

.scroll-wrapper::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 8px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #0b93f6;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #0a7cd5;
}

/* Dark Mode */
body.dark-mode .scroll-wrapper {
  scrollbar-color: #0b93f6 #2c2c2c;
}

body.dark-mode .scroll-wrapper::-webkit-scrollbar-track {
  background: #2c2c2c;
}

body.dark-mode .scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #0b93f6;
  border: 2px solid #2c2c2c;
}

body.dark-mode .scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #0a7cd5;
}

/* ================== MOBILE SCROLL ================== */
@media (max-width: 768px) {

  .scroll-wrapper {
    height: 100dvh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    scrollbar-width: none;
  }

  .scroll-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

